Package: remokoserver
Version: 0.1
Description: BT HID server
Section: openmoko/applications
Priority: optional
Maintainer: Valerio Valerio <vdv100@gmail.com>
Architecture: armv4t
Homepage: http://www.openmoko.org/
Depends: bluez-utils (>= 3.3)
Source: http://code.google.com/p/remoko/source/browse/
